* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    flex-direction: column;
    
}

/* ------- header ------- */
#header-pic {
    width: 100%;
    margin-bottom: 10px;
}
.top-nav .search-container button {           /* ----- search ----- */
    float: right;
    padding: 6px 6px;
    margin-top: 10px;
    margin-right: 16px;
    background: #ebebeb;
    font-size: 15px;
    border: none;
    cursor: pointer;
  }
  .top-nav .search-container button:hover {
    background: #cacaca;
  }
  .top-nav .search-container {
    float: right;
  }
  .top-nav input[type=text] {
    padding: 6px;
    margin-top: 10px;
    font-size: 15px;
    border: none;
    width: 200px;
  }


.top-nav {
    background-color: #dcb391;
    overflow: hidden;
    position: sticky;
    top: 0;
}
.top-nav a {
    float: left;
    color: rgb(73, 27, 6);
    padding: 13px;
    font-size: 19px;
    text-decoration: none;
    display: flex;
}
.fa-lg {
    padding: 13px;
}
.top-nav a:hover {
    color: white ;
    font-weight: 1000;
    background-color: #bf9a79;
    
}

/* ------- blogg ------- */
.content {
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    background: #dcb3912f;
    padding: 30px;
    
}

.post a {
    display: inline-block;
    text-decoration: none;
    color: rgb(73, 27, 6);
}
.post a:hover {
    background-color: #dcb391ac;
}
.post img {
    width: 100%;
    margin-right: 15px;
}
#h1 {
    font-size: 28px;
    color: rgb(73, 27, 6);
}

.post {
    display: grid;
    box-sizing: border-box;
    flex-direction: column;
    height: 500px;
    width: 350px;
    background: #dcb39183;
    padding: 15px;
    line-height: 140%;
    text-align: left;
    text-decoration: none;
}


/* ------- Ipad ------- */
@media screen and (max-width: 1200px) {
    .wrapper {
        width: 900px;
    }
    .top-nav a {
        font-size: 17px;
        padding-top: 17px;
    }
    .fa-lg {
        margin-right: 3px;
        padding: 10px;
    }  
    .post {
        width: 410px;
        flex-direction: column;
    }
    
    .content {
        grid-template-columns: auto auto;
        gap: 20px;
    }
    .top-nav input[type=text] {
        width: 95px;
      }
}
/* ------- Mobil ------- */
@media screen and (max-width: 900px){
   
    .wrapper {
        width: fit-content;
    }
    .content {
        display: flex;
        flex-direction: column;
    }
   .post {
    width: auto;
    height: fit-content;
   }
   .post img {
    height: 200px;
    width: 300px;
   }
   .post a {
    display: flex;
   }
   .top-nav a {
    font-size: 20px;
    padding-right: 10px;
    padding-left: 10px;
   }
   #search {
    margin-bottom: 10px;
   }
   .nav-text-mobile {
    display: none;
   }
   
}

/* ------- Hunddagiset ------- */

.post-one {
    display: flex;
    background: #dcb39183;
    padding: 30px;
}
.post-one img {
    width: 32%;
}


div.gallery {
    border: 2px solid rgba(73, 27, 6, 0.375);
    
  }
  
  
  div.gallery:hover {
    border: 2px solid rgb(73, 27, 6);
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 6px 6px 6px 6px;
    float: left;
    width: 24.99999%;
  }
  

  /* ------- kontakt ------- */
  #contact-pic {
    margin-right: 20px;
  }

  

  #korv {
    width: 100%;
  }

  .valpblogg {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }

  .valpblogg img {
    width: 25%;
    height: 25%;
  }

  .valpblogg p {
    padding-left: 10px;
    padding-right: 10px;

  }